/* .side-nav-header {
    text-decoration: underline;
} */
.sideNav {
  width: 25%;
  display: inherit;
  height: inherit;
  background-image: linear-gradient(to top left, lightgrey, white);
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.sideNav h4 {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
}

.roomNumber {
  align-self: center;
  margin: 0;
  font-size: 18px;
  color: black;
}
.roomNumber:hover {
  font-weight: bolder;
  cursor: pointer;
}
.deleteRoomButton {
  color: black;
  border-radius: 6px;
  padding: 2px 5px;
  font-size: 11px;
  margin-top: 5px;
  height: 20px;
}
.deleteRoomButton:hover {
  color: red;
  cursor: pointer;
}
.formContainer {
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 10px;
  padding-top: 5px;
  background-image: linear-gradient(from bottom right, #f0f8ff, white);
  z-index: 10;
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

.formContainer p {
  font-size: 12px;
  margin: 0 auto;
}

.roomTxt {
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80px;
  height: 25px;
  margin: 0 auto;
  width: 80%;
}

.roomSub {
  width: inherit;
  position: relative;
  margin: 0 auto;
  font-family: 'Helvetica Neu', sans-serif;
}
