.messageListDiv {
    height: inherit;
    text-align: center;
    margin-left:25%;
    width: 75%;
    overflow: auto;
    position: relative;
    z-index: 1;
    height: 440px;
    display: flex;
    /* justify-content: space-around;
    flex-flow: row wrap; */

}
.messageList {
    width: 100%;
   
    margin:0 auto;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 60px;
    position: absolute;
    
}
.message {
    margin-bottom: 5px;
}

.content {
    font-family: 'Gaegu', cursive;
    font-size: 25px;
}
.from {
    text-transform: capitalize;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.time {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.left {
    width: 50px;
}
.sentAt {
    align-self: center;
}
.deleteButton {
    width: 50px;
    margin-right: 5px;
    background-color: rgb(243, 196, 196);
    color: white;
    border-radius: 6px;
}
.deleteButton:hover {
    cursor: pointer;
    color: black;
}

.messageBar {
    position: fixed;
    margin-top: 390px;
    text-align: center;
    padding-bottom: 13px;
    width: 78%;
    background-color: #e0ebfc;
    margin-bottom: 0;
    height: 40px;  
    max-width: 488px;
}
.formWrapper {
    position: relative;
    
    min-width: 410px;
    max-width: 410px;
    margin: 0 auto;

}


.messageInput {
    resize: vertical;
    width:60%;
    float: left;
    height: 20px;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
/* .messageInput {
   width: 200px;
    height: 20px;
    margin-top: 10px;
    align-self: center;
} */
.msgSub {
    height: 20px;
    margin-top: 12px;
    width: 20%;
    border-radius: 5px;
    
}

.msgSub:hover {
    color: white;
    background-color: grey;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .messageBar {
        margin-top: 388px;
    }
   
    .messageForm{width:83%;}
    .messageBar{width: 100%;}
}