.messageListDiv {
    text-align: center;
    margin-left: 25%;
    overflow: auto;
    position: relative;
    z-index: 1;
    /* border: 1px dotted green; */
}
.messageList {
    margin:0 auto;
    margin-top: 65px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 50px;
   
   
     min-width: 220px;
}
.message {
    margin-bottom: 10px;
}

.content {
    font-family: 'Gaegu', cursive;
    font-size: 25px;
}
.from {
    text-transform: capitalize;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.time {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.left {
    width: 50px;
}
.sentAt {
    align-self: center;
}
.deleteButton {
    width: 50px;
    margin-right: 5px;
    background-color: rgb(243, 196, 196);
    color: white;
    border-radius: 6px;

}


.messageBar {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
    width: 75%;
    background-color: #e0ebfc;
    margin-bottom: 0;
    display: inline-block;
    height: 40px;  
    overflow: scroll; 
}
.formWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin:0 auto;
    overflow: scroll;
}
.formLeft {
    width: 20%;
}
.messageInput {
   width: 300px;
    height: 20px;
    margin-top: 10px;
    align-self: center;
}
.msgSub {
    height: 20px;
    margin-top: 13px;
    margin-right: 5px;
    margin-left: 5px;
    width: 20%;
    border-radius: 5px;
    
}

.msgSub:hover {
    color: white;
    background-color: grey;
    cursor: pointer;
}

/* ::placeholder{
    color: white;
    text-align: center;
    opacity: 1;
} */