.message-list-div {
    text-align: center;
    margin-left: 25%;
    overflow: auto;
    position: relative;
    z-index: 1;
    /* border: 1px dotted green; */
}
.message-list {
    margin-top: 65px;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 50px;
}
#message-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
    width: 75%;
    background-color: #e0ebfc;
    margin-bottom: 0;
    display: inline-block;
    
}

#message-input {
    width: 75%;
    height: 20px;
    margin-top: 10px;
}
#msg-sub {
    margin-top: 10px;
    margin-left: 5px;
}
#msg-sub:hover {
    color: blue;
    background-color: #d3d3d3;
}

/* ::placeholder{
    color: white;
    text-align: center;
    opacity: 1;
} */