.side-nav-header {
    text-decoration: underline;
}
.side-nav  {
    width: 25%;
    height: 100%;
    background-color: lightGrey;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
  }

  .create-form {
      text-align: center;
      margin-top: 40%;
      padding-top: 5px;
      display: block;
  }
#room-txt {
      display: block;
      width: 80%;
      padding: 1px;
      margin: auto;
      margin-top: 5px;
      max-width: 140px;
  }
  #room-sub {
      display: block;
      margin: auto;
      padding: 5px;
      margin-top: 5px;
  }
  .delete-room-button {
      display: inline-block;
      margin-left: 5px;
  }
  .room-number {
      display: inline-block
  }