/* .side-nav-header {
    text-decoration: underline;
} */
.sideNav  {
    width: 25%;
    height: 100%;
    background-color: lightGrey;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
  }

  .sideNav h {
    text-decoration: underline; 
  }

  .roomNumber {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 5px;
}

.deleteRoomButton {
    display: inline-block;
    margin-left: 5px;
}
  .createForm {
      text-align: center;
      margin-top: 40%;
      padding-top: 5px;
      display: block;
  }
.roomTxt {
      display: block;
      width: 80%;
      padding: 1px;
      margin: auto;
      margin-top: 5px;
      max-width: 140px;
  }
  .roomSub {
      display: block;
      margin: auto;
      padding: 5px;
      margin-top: 5px;
  }
  
  