.App {
  text-align: center;
  height: 550px;
  /* border: 1px dotted grey; */
}

.currentRoomDisplay {
  z-index: 15;
  height: 59px;
  overflow: hidden;
  margin-left: 25%;
  width: 75%;
  background-color: #e0ebfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:0px;
  margin-bottom: 10px;
  position: fixed;
  font-family: 'Roboto', sans-serif;
}

.topDisplay {
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.topDisplay li {
  
}

.currentRoom {
    z-index: 1;
    overflow: auto;
    padding-right: 10px;
    margin:0;

}

.roomTitle, .userTitle {
  color: green;
  margin: 0;
  display: inline-block;
}

.usernameDisplay {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-left: 0;
  text-align: left;
}

.currentRoomDisplay button {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  margin-right: 10px;
  padding: 5px 20px;
  border-radius: 8px;
}

.currentRoomDisplay button:hover {
  font-weight: bolder;
  background-color: grey;
  color: white;
  cursor: pointer;
}