.App {
  text-align: center;
  height: 550px;
  /* border: 1px dotted grey; */
}

.currentRoomDisplay {
  z-index: 15;
  height: 59px;
  overflow: hidden;
  margin-left: 25%;
  width: 75%;
  background-color: #e0ebfc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:0px;
  margin-bottom: 10px;
  position: fixed;
}

.topDisplay {
  width: 50%;
  padding-left: 0;
}

.currentRoom {
    z-index: 1;
    overflow: auto;
    padding-right: 10px;
    margin:0;
    margin-left: 10px;
}

.roomTitle {
  color: green;
  margin: 0;
  display: inline-block;
}

.usernameDisplay {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  margin-left: 0;
}

