.App {
  text-align: center;
  height: 550px;
  /* border: 1px dotted grey; */
}

.current-room {
    z-index: 1;
    overflow: auto;
    padding-right: 10px;
    margin:0;
}

.room-title {
  color: green;
  margin: 0;

}

#current-room {
  z-index: 15;
  height: 40px;
  overflow: hidden;
  margin-left: 25%;
  width: 75%;
  background-color: #e0ebfc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:0px;
  margin-bottom: 10px;
  position: fixed;
}